<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccountKey" value="46E6776E7FA9141FF4CF74BCBEC0DFF8B4898590"/>
    <add key="Host" value="http://localhost/" />
    <add key="COTFinFut_EuroFxNetPos" value="COT.FinFut.099741.Net" />
    <add key="COTFinFutOpt_EuroFxNetPos" value="COT.FinFutOpt.099741.Net" />
    <add key="COTCmdtsFut_WheatNetPos" value="COT.CmdtsFut.001602.Net" />
    <add key="COTCmdtsFutOpt_WheatNetPos" value="COT.CmdtsFutOpt.001602.Net" />
  </appSettings>
</configuration>